* {margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI}
body {background:#fff7ed}


.top {
background:#fb923c;
color:white;
padding:20px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}
.top nav a {
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}


.hero {
padding:60px;
text-align:center;
}


.products {
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}
.product {
background:white;
padding:30px;
border-radius:12px;
text-align:center;
font-size:20px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
}